{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <span>
        <a href={{ path('book_index', {'field_name' : "name"}) }}>
        <button class="btn" > By Name</button>
        </a>

        <a href={{ path('book_index', {'field_name' : "description"}) }}>
        <button class="btn" > By Description</button>
        </a>

        <a href={{ path('book_index', {'field_name' : "publish_year"}) }}>
        <button class="btn" > By Date</button>
        </a>
    </span>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Cover</th>
                <th>Publish_year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
                <form name="book" action="{{ path('book_submit', {'id' : book.id}) }}" method="post">
            <tr>
                <td>
                    <input type="text" name="book[id]" maxlength="1000" value={{ book.id }} readonly>
                </td>
                <td>
                    <input type="text" name="book[name]" maxlength="1000" value={{ book.name }}>
                </td>
                <td>
                    <input type="text" name="book[description]" maxlength="1000" value={{ book.description }}>
                </td>
                <td>
                    <input type="text" name="book[cover]" maxlength="1000" value={{ book.cover }}>
                </td>
                <td>
                    <input type="text" name="book[publish_year]" maxlength="1000" value={{ book.publishYear }}>
                </td>
{#                <td>{{ book.name }}</td>#}
{#                <td>{{ book.description }}</td>#}
{#                <td>{{ book.cover }}</td>#}
{#                <td>{{ book.publishYear }}</td>#}
                <td>
                    <button class="btn"> Save</button>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
                </form>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
